<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.UserMapper">
	
	<select id="findByEmailAndAuth" parameterType="map" resultType="int">
		/* findByUserEmailAndUserPw */
		SELECT 	count(*)
		FROM 	hjjuser
		WHERE	email = #{email}
		AND		auth = #{auth}
		AND		status = 'T'
	</select>

	<select id="findUserByEmail" resultType="com.study.domain.UserDto">
		/* findByUserEmail */
		SELECT	*
		FROM	hjjuser
        WHERE	email = #{email}
        AND		status in ('C', 'R', 'T')
	</select>
	
	<insert id="createUser" parameterType="com.study.domain.UserDto">
		/* createUser */
		INSERT INTO hjjuser (
			name,email,password,nickname,reg_date,isonline,istemppw,auth,status
		) VALUES (
			  #{name}
			, #{email}
			, #{password}
			, ''
			, sysdate()
			, ''
			, ''
			, ''
			, 'T'
		)
	</insert>
	
	<update id="updateUserStatus" parameterType="String">
		/* updateUserStatus */
		UPDATE 	hjjuser
		SET status = 'C'
		, 	role = 'ROLE_USER'
		WHERE	email = #{email}
		AND		status = 'T'
	</update>
	
	<update id="updateAuth" parameterType="map">
		/* updateUserStatus */
		UPDATE 	hjjuser
		SET 	auth = #{auth}
		WHERE	email = #{email}
	</update>
	

</mapper>